# Virtual environment
venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets (large files)
data/*

# Saved models (can be regenerated)
models/*

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Logs and temp files
*.log
*.tmp

# Environment files (if sensitive)
.env